
.Backgraun{
    background-color: coral; 
    color: aliceblue; font-size: 20px; text-align: center;padding: 150px 200px;

}
*{
    margin: 0;
    padding: 0;
}
.hero-title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px; padding-bottom: 30px;
}

.hero-para{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px; padding-bottom: 45px;
}

.hero-btn{font-size: 20px;color: rgb(89, 0, 255);
    background-color: aliceblue;
    padding: 10px 30px;font-weight: 600;
    text-decoration: none;border-radius: 30px;
    

}
.hero-btn:hover{
    background-color: blueviolet;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aqua;
}
.Nav{
    background-color: aqua;
padding: 30px 150px;
display: flex;
justify-content: space-between;
align-items: center;
}

.Nav-logo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px; padding-left: 20px;
}

.manu a{
    padding: 5px 10px;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:orange; font-size: 25px;font-weight: 600;
    padding-right: 20px;text-decoration: none;

}

.manu a:hover{
    background-color: aliceblue;
    border-radius: 25px;
}